autopep8==1.5.7
black==21.9b0
fastapi==0.68.1
flake8==3.9.2
ipython==7.16.1
mypy==0.910
mypy-extensions==0.4.3
pydantic==1.8.2
pytest==6.2.5
pytest-vcr==1.0.2
pytest-watch==4.2.0
requests==2.26.0
types-requests==2.25.9
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
vcrpy==4.1.1
